
<section id="education" class="education">
    <div class="section-heading text-center">
        <h2>education</h2>
    </div>
    <div class="container">
        <div class="education-horizontal-timeline">
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-horizontal-timeline">
                        <div class="experience-time">
                            <h2>2011 - 2015</h2>
                            <h3>bachelor <span>of </span> mathematics and applications</h3>
                        </div><!--/.experience-time-->
                        <div class="timeline-horizontal-border">
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            <span class="single-timeline-horizontal"></span>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <h4 class="title">
                                    university of borujerd
                                </h4>
                                <h5>Borujerd,Iran</h5>
                                <p class="description">
                                    Passing general and specialized mathematics courses along with programming skills.
                                </p>
                            </div><!--/.timeline-content-->
                        </div><!--/.timeline-->
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-horizontal-timeline">
                        <div class="experience-time">
                            <h2>2016 - 2018</h2>
                            <h3>master <span>of </span> pure mathematics and geometry</h3>
                        </div><!--/.experience-time-->
                        <div class="timeline-horizontal-border">
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            <span class="single-timeline-horizontal"></span>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <h4 class="title">
                                    K.N.Toosi university of technology
                                </h4>
                                <h5>Tehran, Iran</h5>
                                <p class="description">
                                    Passing the mentioned field of study incompletely.
                                </p>
                            </div><!--/.timeline-content-->
                        </div><!--/.timeline-->
                    </div>
                </div>
                @*   <div class="col-sm-4">
                <div class="single-horizontal-timeline">
                <div class="experience-time">
                <h2>2004 - 2008</h2>
                <h3>bachelor <span>of </span> creative design</h3>
                </div><!--/.experience-time-->
                <div class="timeline-horizontal-border">
                <i class="fa fa-circle" aria-hidden="true"></i>
                <span class="single-timeline-horizontal spacial-horizontal-line
                "></span>
                </div>
                <div class="timeline">
                <div class="timeline-content">
                <h4 class="title">
                university of bolton
                </h4>
                <h5>bolton, united kingdome</h5>
                <p class="description">
                Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occana inna tecat cupidatat non proident.
                </p>
                </div><!--/.timeline-content-->
                </div><!--/.timeline-->
                </div>
                </div> *@
            </div>
        </div>
    </div>

</section><!--/.education-->
