<section id="experience" class="experience">
    <div class="section-heading text-center">
        <h2>experience</h2>
    </div>
    <div class="container">
        <div class="experience-content">
            <div class="main-timeline">
                <ul>
                    <li>
                        <div class="single-timeline-box fix">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="experience-time text-right">
                                        <h2>2022 - Present</h2>
                                        <h3>Web Application/Mobile Application</h3>
                                        <h3>Developer</h3>
                                    </div><!--/.experience-time-->
                                </div><!--/.col-->
                                <div class="col-md-offset-1 col-md-5">
                                    <div class="timeline">
                                        <div class="timeline-content">
                                            <h4 class="title">
                                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                Senior Software Developer Team Lead
                                            </h4>
                                            <h5>Abadan, Iran</h5>
                                            <p class="description">
                                                [Web application of the online store of Majid Merooj Sports Company]. [Building an employee management mobile application for Majid Morooj Company warehouse and production unit].  [Building a web application of an encyclopedia source for artificial intelligence training].
                                            </p>
                                        </div><!--/.timeline-content-->
                                    </div><!--/.timeline-->
                                </div><!--/.col-->
                            </div>
                        </div><!--/.single-timeline-box-->
                    </li>

                    <li>
                        <div class="single-timeline-box fix">
                            <div class="row">
                                <div class="col-md-offset-1 col-md-5 experience-time-responsive">
                                    <div class="experience-time">
                                        <h2>
                                            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                            2021 - 2022
                                        </h2>
                                        <h3>Mobile Application Developer</h3>
                                    </div><!--/.experience-time-->
                                </div><!--/.col-->
                                <div class="col-md-5">
                                    <div class="timeline">
                                        <div class="timeline-content text-right">
                                            <h4 class="title">
                                                Senior Software Developer Team Lead
                                            </h4>
                                            <h5>Abadan, Iran</h5>
                                            <p class="description">
                                                Creating a comprehensive mobile application for Sanat Naft Abadan F.C. in iran Pro League with features: credit card payment, live video broadcast of football matches, participation in predictions, user comments, player biographies and dozens of other features.
                                            </p>
                                        </div><!--/.timeline-content-->
                                    </div><!--/.timeline-->
                                </div><!--/.col-->
                                <div class="col-md-offset-1 col-md-5 experience-time-main">
                                    <div class="experience-time">
                                        <h2>
                                            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                            2021 - 2022
                                        </h2>
                                        <h3>Mobile Application Developer</h3>
                                    </div><!--/.experience-time-->
                                </div><!--/.col-->
                            </div>
                        </div><!--/.single-timeline-box-->
                    </li>

                    <li>
                        <div class="single-timeline-box fix">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="experience-time text-right">
                                        <h2>2020 - 2021</h2>
                                        <h3>Mobile Application Developer</h3>
                                    </div><!--/.experience-time-->
                                </div><!--/.col-->
                                <div class="col-md-offset-1 col-md-5">
                                    <div class="timeline">
                                        <div class="timeline-content">
                                            <h4 class="title">
                                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                               
                                            </h4>
                                            <h5>Tehran, Iran</h5>
                                            <p class="description">
                                                Mobile application of Behesht Zahra Tehran services affiliated with Tehran Municipality.
                                            </p>
                                        </div><!--/.timeline-content-->
                                    </div><!--/.timeline-->
                                </div><!--/.col-->
                            </div>
                        </div><!--/.single-timeline-box-->
                    </li>

                    <li>
                        <div class="single-timeline-box fix">
                            <div class="row">
                                <div class="col-md-offset-1 col-md-5 experience-time-responsive">
                                    <div class="experience-time">
                                        <h2>
                                            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                            2019 - 2020
                                        </h2>
                                        <h3>Mobile Application Developer</h3>
                                    </div><!--/.experience-time-->
                                </div><!--/.col-->
                                <div class="col-md-5">
                                    <div class="timeline">
                                        <div class="timeline-content text-right">
                                            <h4 class="title">
                                                hoplony tech limited
                                            </h4>
                                            <h5>Tehran, Iran</h5>
                                            <p class="description">
                                                Currency digital exchange mobile application with many features in a group.
                                            </p>
                                        </div><!--/.timeline-content-->
                                    </div><!--/.timeline-->
                                </div><!--/.col-->
                                <div class="col-md-offset-1 col-md-5 experience-time-main">
                                    <div class="experience-time">
                                        <h2>
                                            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                            2019 - 2020
                                        </h2>
                                        <h3>Mobile Application Developer</h3>
                                    </div><!--/.experience-time-->
                                </div><!--/.col-->
                            </div>
                        </div><!--/.single-timeline-box-->
                    </li>

                   @*  <li>
                        <div class="single-timeline-box fix">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="experience-time text-right">
                                        <h2>2010 - 2012</h2>
                                        <h3>frontend developer</h3>
                                    </div><!--/.experience-time-->
                                </div><!--/.col-->
                                <div class="col-md-offset-1 col-md-5">
                                    <div class="timeline">
                                        <div class="timeline-content">
                                            <h4 class="title">
                                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                hoplony tech limited
                                            </h4>
                                            <h5>newyork, USA</h5>
                                            <p class="description">
                                                Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occana inna tecat cupidatat non proident.
                                            </p>
                                        </div><!--/.timeline-content-->
                                    </div><!--/.timeline-->
                                </div><!--/.col-->
                            </div>
                        </div><!--/.single-timeline-box-->
                    </li> *@

                </ul>
            </div><!--.main-timeline-->
        </div><!--.experience-content-->
    </div>

</section><!--/.experience-->