@page "/"

<PageTitle>Mohammad Reza Jafari</PageTitle>


<!-- top-area Start -->
<header class="top-area">
    <div class="header-area">
        <!-- Start Navigation -->
        <nav class="navbar navbar-default bootsnav navbar-fixed dark no-background">

            <div class="container">

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html">mohammad reza jafari</a>
                </div><!--/.navbar-header-->
                <!-- End Header Navigation -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class=" smooth-menu active"></li>
                        <li class=" smooth-menu"><a href="#education">education</a></li>
                        <li class="smooth-menu"><a href="#skills">skills</a></li>
                        <li class="smooth-menu"><a href="#experience">experience</a></li>
                        @* <li class="smooth-menu"><a href="#profiles">profile</a></li>
                        <li class="smooth-menu"><a href="#portfolio">portfolio</a></li>
                        <li class="smooth-menu"><a href="#clients">clients</a></li> *@
                        <li class="smooth-menu"><a href="#contact">contact</a></li>
                    </ul><!--/.nav -->
                </div><!-- /.navbar-collapse -->
            </div><!--/.container-->
        </nav><!--/nav-->
        <!-- End Navigation -->
    </div><!--/.header-area-->

    <div class="clearfix"></div>

</header><!-- /.top-area-->
<!-- top-area End -->
@* <!--welcome-hero start -->
		<section id="welcome-hero" class="welcome-hero">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="header-text">
							<h2>hi <span>,</span> i am <br> browny <br> star <span>.</span>   </h2>
							<p>ui/ux designer and web developer</p>
							<a href="assets/download/browney.txt" download>download resume</a>
						</div><!--/.header-text-->
					</div><!--/.col-->
				</div><!-- /.row-->
			</div><!-- /.container-->

		</section><!--/.welcome-hero-->
		<!--welcome-hero end --> *@

<!--about start -->
<section id="about" class="about">
    <div class="section-heading text-center">
        <h2 style="padding-top:55px">about me</h2>
    </div>
    <div class="container">
        <div class="about-content" style="padding-top:25px;">
            <div class="row" style="display:flex;justify-content:center">
                <div class="col-sm-6">
                    <div class="single-about-txt">
                        <h3>
                            "As a seasoned web application and mobile developer"
                        </h3>
                        <p>
                            I thrive in collaborative environments where problem-solving is at the forefront. With a passion for tackling challenges head-on, I bring a wealth of experience and a relentless drive to innovate. Let's build something extraordinary together,
                        </p>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="single-about-add-info">
                                    <h3>phone</h3>
                                    <p>+98-919-743-6851</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="single-about-add-info">
                                    <h3>email</h3>
                                    <p>mrj02@yahoo.com</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="single-about-add-info">
                                    <h3>website</h3>
                                    <p>www.github.io</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* <div class="col-sm-offset-1 col-sm-5">
                    <div class="single-about-img">
                        <img src="assets/images/about/avapic.jpg" alt="profile_image">
                        <div class="about-list-icon">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </li><!-- / li -->
                                <li>
                                    <a href="#">
                                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                                    </a>

                                </li><!-- / li -->
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>

                                </li><!-- / li -->
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                </li><!-- / li -->
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </li><!-- / li -->


                            </ul><!-- / ul -->
                        </div><!-- /.about-list-icon -->

                    </div>

                </div> *@
            </div>
        </div>
    </div>
</section><!--/.about-->
<!--about end -->

<Education/>
<Skills/>
<Experience/>
@* <Portfolio/>
<Clients/> *@
<Contact/>
<!--footer-copyright start-->
<footer id="footer-copyright" class="footer-copyright">
    <div class="container">
        <div class="hm-footer-copyright text-center">
            <p>
                &copy; 2024 mohammad reza jafari. All rights reserved.
            </p><!--/p-->
        </div><!--/.text-center-->
    </div><!--/.container-->

    <div id="scroll-Top">
        <div class="return-to-top">
            <i class="fa fa-angle-up " id="scroll-top"></i>
        </div>

    </div><!--/.scroll-Top-->

</footer><!--/.footer-copyright-->
<!--footer-copyright end-->
