
<section id="skills" class="skills">
    <div class="skill-content">
        <div class="section-heading text-center">
            <h2>skills</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="single-skill-content">
                        <div class="barWrapper">
                            <span class="progressText">Microsoft C#</span>
                            <div class="single-progress-txt">
                                <div class="progress ">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="">
                                    </div>
                                </div>
                                <h3>90%</h3>
                            </div>
                        </div><!-- /.barWrapper -->
                        <div class="barWrapper">
                            <span class="progressText"> Microsoft .NET Core</span>
                            <div class="single-progress-txt">
                                <div class="progress ">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="">
                                    </div>
                                </div>
                                <h3>90%</h3>
                            </div>
                        </div><!-- /.barWrapper -->
                        <div class="barWrapper">
                            <span class="progressText">Microsoft .NET Blazor</span>
                            <div class="single-progress-txt">
                                <div class="progress ">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="10" aria-valuemax="100" style="">
                                    </div>
                                </div>
                                <h3>95%</h3>
                            </div>
                        </div><!-- /.barWrapper -->
                        <div class="barWrapper">
                            <span class="progressText">Microsoft SQL Server</span>
                            <div class="single-progress-txt">
                                <div class="progress ">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="10" aria-valuemax="100" style="">
                                    </div>
                                </div>
                                <h3>80%</h3>
                            </div>
                        </div><!-- /.barWrapper -->
                        <div class="barWrapper">
                            <span class="progressText">JavaScript</span>
                            <div class="single-progress-txt">
                                <div class="progress ">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="10" aria-valuemax="100" style="">
                                    </div>
                                </div>
                                <h3>85%</h3>
                            </div>
                        </div><!-- /.barWrapper -->
                        <div class="barWrapper">
                            <span class="progressText">HTML</span>
                            <div class="single-progress-txt">
                                <div class="progress ">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="10" aria-valuemax="100" style="">
                                    </div>
                                </div>
                                <h3>85%</h3>
                            </div>
                        </div><!-- /.barWrapper -->
                        <div class="barWrapper">
                            <span class="progressText">CSS</span>
                            <div class="single-progress-txt">
                                <div class="progress ">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="10" aria-valuemax="100" style="">
                                    </div>
                                </div>
                                <h3>85%</h3>
                            </div>
                        </div><!-- /.barWrapper -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-skill-content">
                        <div class="barWrapper">
                            <span class="progressText">Google Flutter</span>
                            <div class="single-progress-txt">
                                <div class="progress ">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="">
                                    </div>
                                </div>
                                <h3>90%</h3>
                            </div>
                        </div><!-- /.barWrapper -->
                        <div class="barWrapper">
                            <span class="progressText">Dart</span>
                            <div class="single-progress-txt">
                                <div class="progress ">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="10" aria-valuemax="100" style="">
                                    </div>
                                </div>
                                <h3>85%</h3>
                            </div>
                        </div><!-- /.barWrapper -->
                        <div class="barWrapper">
                            <span class="progressText">Android</span>
                            <div class="single-progress-txt">
                                <div class="progress ">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="10" aria-valuemax="100" style="">
                                    </div>
                                </div>
                                <h3>85%</h3>
                            </div>
                        </div><!-- /.barWrapper -->
                        <div class="barWrapper">
                            <span class="progressText"> iOS</span>
                            <div class="single-progress-txt">
                                <div class="progress ">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="10" aria-valuemax="100" style="">
                                    </div>
                                </div>
                                <h3>75%</h3>
                            </div>
                        </div><!-- /.barWrapper -->
                        <div class="barWrapper">
                            <span class="progressText"> FireBase</span>
                            <div class="single-progress-txt">
                                <div class="progress ">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="10" aria-valuemax="100" style="">
                                    </div>
                                </div>
                                <h3>85%</h3>
                            </div>
                        </div><!-- /.barWrapper -->
                        <div class="barWrapper">
                            <span class="progressText"> Network +</span>
                            <div class="single-progress-txt">
                                <div class="progress ">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="10" aria-valuemax="100" style="">
                                    </div>
                                </div>
                                <h3>75%</h3>
                            </div>
                        </div><!-- /.barWrapper -->
                    </div>
                </div>
            </div><!-- /.row -->
        </div>	<!-- /.container -->
    </div><!-- /.skill-content-->

</section><!--/.skills-->
